nodered_sistema.json
[{"id":"8e10f482.b59928","type":"mqtt in","z":"658f38b0.6cc628","name":"","topic":"local/ambiente/temp","qos":"0","datatype":"auto","broker":"475533b3.aeef8c","nl":false,"rap":true,"rh":0,"x":230,"y":300,"wires":[["74b6cd80.4f65d4","b41404a2.8ca598"]]},{"id":"3ea839db.be8606","type":"mqtt in","z":"658f38b0.6cc628","name":"","topic":"local/ambiente/lum","qos":"0","datatype":"auto","broker":"475533b3.aeef8c","nl":false,"rap":true,"rh":0,"x":230,"y":360,"wires":[["e70bd035.658c8","b0644c9a.0476c"]]},{"id":"48e3ffa4.91739","type":"mqtt in","z":"658f38b0.6cc628","name":"","topic":"local/ambiente/hum","qos":"0","datatype":"auto","broker":"475533b3.aeef8c","nl":false,"rap":true,"rh":0,"x":230,"y":420,"wires":[["23ffad9.5c24952","cfef3a6e.72b348"]]},{"id":"74b6cd80.4f65d4","type":"ui_chart","z":"658f38b0.6cc628","name":"","group":"d2c70e4f.8e0de","order":0,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":300,"wires":[[]]},{"id":"e70bd035.658c8","type":"ui_chart","z":"658f38b0.6cc628","name":"","group":"d2c70e4f.8e0de","order":0,"width":0,"height":0,"label":"Luminosidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":380,"wires":[[]]},{"id":"23ffad9.5c24952","type":"ui_chart","z":"658f38b0.6cc628","name":"","group":"d2c70e4f.8e0de","order":0,"width":0,"height":0,"label":"Humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":420,"wires":[[]]},{"id":"b41404a2.8ca598","type":"ui_gauge","z":"658f38b0.6cc628","name":"","group":"c83adf7d.99f3b","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":260,"wires":[]},{"id":"b0644c9a.0476c","type":"ui_gauge","z":"658f38b0.6cc628","name":"","group":"c83adf7d.99f3b","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"Lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":340,"wires":[]},{"id":"cfef3a6e.72b348","type":"ui_gauge","z":"658f38b0.6cc628","name":"","group":"c83adf7d.99f3b","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidade","label":"%RH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":460,"wires":[]},{"id":"6c53f0d6.73461","type":"ui_text","z":"658f38b0.6cc628","group":"96a490f3.012e9","order":3,"width":0,"height":0,"name":"","label":"Estado da janela","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":700,"wires":[]},{"id":"117b56.104604ab","type":"ui_text","z":"658f38b0.6cc628","group":"96a490f3.012e9","order":5,"width":0,"height":0,"name":"","label":"Movimento","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":780,"wires":[]},{"id":"875ec035.4e947","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/iluminacao/led1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":900,"y":300,"wires":[]},{"id":"1f4d9fe1.f6998","type":"ui_switch","z":"658f38b0.6cc628","name":"","label":"LED1","tooltip":"","group":"3dcd620e.3a39de","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":670,"y":260,"wires":[["875ec035.4e947"]]},{"id":"ed724ba0.c073d8","type":"coap request","z":"658f38b0.6cc628","method":"GET","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led2","content-format":"text/plain","raw-buffer":false,"name":"ALARME","x":300,"y":740,"wires":[["49304ab4.337074","2b985858.adad18"]]},{"id":"2ffa6a70.635c46","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/iluminacao/led2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":900,"y":360,"wires":[]},{"id":"7004dad6.ea7694","type":"ui_switch","z":"658f38b0.6cc628","name":"","label":"LED2","tooltip":"","group":"3dcd620e.3a39de","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":670,"y":320,"wires":[["2ffa6a70.635c46"]]},{"id":"7c14c448.58a16c","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/iluminacao/led3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":900,"y":420,"wires":[]},{"id":"8bbec70f.d20048","type":"ui_switch","z":"658f38b0.6cc628","name":"","label":"LED3","tooltip":"","group":"3dcd620e.3a39de","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":670,"y":380,"wires":[["7c14c448.58a16c"]]},{"id":"2c34e064.624","type":"coap request","z":"658f38b0.6cc628","method":"GET","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led4","content-format":"text/plain","raw-buffer":false,"name":"PORTA","x":300,"y":820,"wires":[["a9571ce4.44f81"]]},{"id":"9e6f6dc.3fdf99","type":"coap request","z":"658f38b0.6cc628","method":"GET","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led3","content-format":"text/plain","raw-buffer":false,"name":"JANELA","x":300,"y":780,"wires":[["91901db9.c8479"]]},{"id":"40f1bcf3.7bfb44","type":"coap request","z":"658f38b0.6cc628","method":"GET","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led5","content-format":"text/plain","raw-buffer":false,"name":"MOVIMENTO","x":320,"y":860,"wires":[["31633614.16f2ca"]]},{"id":"3a08e46f.91570c","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/seguranca/alarme","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":1130,"y":820,"wires":[]},{"id":"9e7787e3.e77d08","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/seguranca/porta","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":900,"y":900,"wires":[]},{"id":"6404b375.030dfc","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/seguranca/janela","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":900,"y":860,"wires":[]},{"id":"c86ec95b.ce72a8","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/seguranca/movimento","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":920,"y":940,"wires":[]},{"id":"53b4a520.c0565c","type":"function","z":"658f38b0.6cc628","name":"CoAP2MQTT SISTEMA","func":"var estado;\nestado = msg.payload;\nif (estado[estado.length -2] == \"1\"){\n    msg.payload = \"Ligado\"\n}else{\n    msg.payload = \"Desligado\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":700,"wires":[["49a8ecac.1d5e44"]]},{"id":"6d049bce.07c1d4","type":"coap request","z":"658f38b0.6cc628","method":"GET","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led1","content-format":"text/plain","raw-buffer":false,"name":"SISTEMA","x":300,"y":700,"wires":[["53b4a520.c0565c"]]},{"id":"49304ab4.337074","type":"function","z":"658f38b0.6cc628","name":"CoAP2MQTT ALARME","func":"var estado;\nestado = msg.payload;\nif (estado[estado.length -2] == \"1\"){\n    msg.payload = \"Intruso Detetado\"\n}else{\n    msg.payload = \"Seguro\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":740,"wires":[["8e65dbb9.706d28","aee7a313.6bad3"]]},{"id":"91901db9.c8479","type":"function","z":"658f38b0.6cc628","name":"CoAP2MQTT JANELA","func":"var estado;\nestado = msg.payload;\nif (estado[estado.length -2] == \"1\"){\n    msg.payload = \"Aberta\"\n}else{\n    msg.payload = \"Fechada\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":780,"wires":[["6c53f0d6.73461","6404b375.030dfc"]]},{"id":"a9571ce4.44f81","type":"function","z":"658f38b0.6cc628","name":"CoAP2MQTT PORTA","func":"var estado;\nestado = msg.payload;\nif (estado[estado.length -2] == \"1\"){\n    msg.payload = \"Aberta\"\n}else{\n    msg.payload = \"Fechada\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":820,"wires":[["7a916b1.3849394","9e7787e3.e77d08"]]},{"id":"31633614.16f2ca","type":"function","z":"658f38b0.6cc628","name":"CoAP2MQTT MOV","func":"var estado;\nestado = msg.payload;\nif (estado[estado.length -2] == \"1\"){\n    msg.payload = \"Detetado\"\n}else{\n    msg.payload = \"Não Detetado\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":860,"wires":[["c86ec95b.ce72a8","117b56.104604ab"]]},{"id":"7a916b1.3849394","type":"ui_text","z":"658f38b0.6cc628","group":"96a490f3.012e9","order":4,"width":0,"height":0,"name":"","label":"Estado da porta","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":740,"wires":[]},{"id":"49a8ecac.1d5e44","type":"ui_text","z":"658f38b0.6cc628","group":"96a490f3.012e9","order":1,"width":0,"height":0,"name":"","label":"Estado do Sistema","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":620,"wires":[]},{"id":"8e65dbb9.706d28","type":"ui_text","z":"658f38b0.6cc628","group":"96a490f3.012e9","order":2,"width":0,"height":0,"name":"","label":"Estado Alarme","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":660,"wires":[]},{"id":"1c06055.41a5cfb","type":"coap request","z":"658f38b0.6cc628","method":"PUT","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led1","content-format":"text/plain","raw-buffer":false,"name":"SISTEMA_EN","x":560,"y":500,"wires":[[]]},{"id":"a332f177.ca07","type":"inject","z":"658f38b0.6cc628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":90,"y":720,"wires":[["6d049bce.07c1d4","ed724ba0.c073d8","9e6f6dc.3fdf99","2c34e064.624","40f1bcf3.7bfb44"]]},{"id":"9a7e6b0b.3543f8","type":"ui_switch","z":"658f38b0.6cc628","name":"","label":"Sistema","tooltip":"","group":"96a490f3.012e9","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":200,"y":500,"wires":[["48b00e23.94bd1","1d236227.d08a1e","67e26361.85110c"]]},{"id":"48b00e23.94bd1","type":"function","z":"658f38b0.6cc628","name":"PUT","func":"var estado;\nestado = msg.payload;\nif (estado){\n    msg.payload = \"Led,1\"\n}else{\n    msg.payload = \"Led,0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":500,"wires":[["1c06055.41a5cfb"]]},{"id":"a79d9839.3b2548","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/seguranca/sistema","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":670,"y":540,"wires":[]},{"id":"bb2a40ed.bcd07","type":"function","z":"658f38b0.6cc628","name":"PUT","func":"var estado;\nestado = msg.payload;\nif (estado){\n    msg.payload = \"Led,1\"\n}else{\n    msg.payload = \"Led,0\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":600,"wires":[["81cb3b58.7f3e68"]]},{"id":"52ca6d7d.a4bb04","type":"ui_button","z":"658f38b0.6cc628","name":"","group":"96a490f3.012e9","order":6,"width":0,"height":0,"passthru":false,"label":"Desligar alarme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":180,"y":600,"wires":[["bb2a40ed.bcd07","1d236227.d08a1e"]]},{"id":"81cb3b58.7f3e68","type":"coap request","z":"658f38b0.6cc628","method":"PUT","observe":false,"multicast":false,"multicastTimeout":20000,"url":"coap://192.168.249.128/mchp/Led2","content-format":"text/plain","raw-buffer":false,"name":"ALARME_DIS","x":560,"y":600,"wires":[[]]},{"id":"1d236227.d08a1e","type":"mqtt out","z":"658f38b0.6cc628","name":"","topic":"local/seguranca/alarme","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"475533b3.aeef8c","x":450,"y":640,"wires":[]},{"id":"aee7a313.6bad3","type":"function","z":"658f38b0.6cc628","name":"MQTT_Send_if_true","func":"var estado;\nestado = msg.payload\nif (estado == \"Intruso Detetado\"){\n    msg.payload = \"true\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":820,"wires":[["3a08e46f.91570c"]]},{"id":"bd2abab3.394ec8","type":"ui_switch","z":"658f38b0.6cc628","name":"","label":"LED ALL","tooltip":"","group":"3dcd620e.3a39de","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":680,"y":440,"wires":[["875ec035.4e947","2ffa6a70.635c46","7c14c448.58a16c"]]},{"id":"67e26361.85110c","type":"delay","z":"658f38b0.6cc628","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":540,"wires":[["a79d9839.3b2548"]]},{"id":"406d2556.ae777c","type":"http request","z":"658f38b0.6cc628","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/value_exceeded/with/key/cKwzjyfAn78-cCDbWqc7bK","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":980,"wires":[[]]},{"id":"48d74b8e.9d3354","type":"debug","z":"658f38b0.6cc628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1020,"wires":[]},{"id":"2b985858.adad18","type":"function","z":"658f38b0.6cc628","name":"CoAP21ou0","func":"var estado;\nestado = msg.payload;\nif (estado[estado.length -2] == \"1\"){\n    msg.payload = 1\n}else{\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":900,"wires":[["974a7a4a.8ed688"]]},{"id":"974a7a4a.8ed688","type":"trigger","z":"658f38b0.6cc628","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":880,"y":1000,"wires":[["406d2556.ae777c","48d74b8e.9d3354"]]},{"id":"475533b3.aeef8c","type":"mqtt-broker","name":"homebrker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d2c70e4f.8e0de","type":"ui_group","name":"Registo do ambiente","tab":"8ee7931c.4cfb9","order":1,"disp":true,"width":"6","collapse":true},{"id":"c83adf7d.99f3b","type":"ui_group","name":"Valores atuais","tab":"8ee7931c.4cfb9","order":2,"disp":true,"width":"6","collapse":true},{"id":"96a490f3.012e9","type":"ui_group","name":"Segurança","tab":"8ee7931c.4cfb9","order":3,"disp":true,"width":"8","collapse":true},{"id":"3dcd620e.3a39de","type":"ui_group","name":"Iluminação","tab":"8ee7931c.4cfb9","order":4,"disp":true,"width":"6","collapse":true},{"id":"8ee7931c.4cfb9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]